<div class="container mt-3">
<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= link_to "Home", restaurants_path, class: "btn btn-primary mt-2" %> </p>
</div>
<div  class="container mt-3">
<% @reviews.each do |review| %>
    <p><%= review.content %></p>
<% end %>
<p><%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary mt-2" %> </p>
</div>
